<div class="container-fluid">
    <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <h1>Veterinaria Perdriel</h1>
            <p>Su lugar de Elección</p>
        </div>
    </div>
</div>


<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img
                        src="images/novedades1.jpg">{{titulo}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>



<label for="dark-mode" class="dark-mode-button">
    <input id="dark-mode" type="checkbox" onclick="document.documentElement.classList.toggle('dark-mode')">
    Ver modo Oscuro
</label>



{{#each novedades}}
<div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>{{subtitulo}}</h5>
            </div>
            <div class="modal-body">
                {{cuerpo}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<div class="container">
    <div class="row">
        <div class="col">

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/imagen_1.jpg" class="d-block w-100" alt="..">
                    </div>
                    <div class="carousel-item">
                        <img src="images/imagen2.jpg" class="d-block w-100" alt="..">
                    </div>
                    <div class="carousel-item">
                        <img src="images/imagen_3.jpg" class="d-block w-100" alt="..">
                    </div>
                    <div class="carousel-item">
                        <img src="images/imagen4.jpeg" class="d-block w-100" alt="..">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="foto1" class="col-md-5 offset-md-5 py-5">
    <figure class="figure1">
        <img src="images/imagengenerica1.jpg" class="figure-img img-fluid rounded" alt="foto1">
        <figcaption class="figure-caption"></figcaption>
    </figure>
</div>

<div id="foto2" class="col-md-5 offset-md-2 py-5">
    <figure class="figure2">
        <img src="images/imagengenerica2.jpg" class="figure-img img-fluid rounded" alt="foto2">
        <figcaption class="figure-caption"></figcaption>
    </figure>
</div>


<div id="horarios" class="row-my-5">
    <div class="col-md-4 offset-md-3 py-50 scroll_section">
        <h2>Horarios</h2>
        <figure class="figure3">
            <img src="images/horarios.jpg" class="figure-img img-fluid rounded" alt="horarios">
            <figcaption class="figure-caption"></figcaption>
        </figure>
    </div>
</div>


<div class="row">
    <div id="preguntas" class="col-md-7 offset-md-2 py-5 scroll_section">
        <h2>Preguntas Frecuentes</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ¿Debo sacar turno para llevar a mi mascota a la clínica veterinaria? ¿Y si tengo una
                        urgencia fuera de horario?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        No, La consulta clínica es por <strong>Orden de llegada.</strong> y el precio de la misma es
                        de $2500
                        sin medicación. En el caso de una emergencia, <strong>No contamos con atención 24
                            hs,</strong> por lo
                        que deberás dirigirte a otro centro 24hs cercano a tu domicilio.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Cuál seria el valor de la primera vacuna?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        El valor de la vacuna Quintuple sería de <strong>$2500.</strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Aceptan tarjeta de crédito y débito? ¿Y mercado pago?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Si, se puede abonar con tarjetas de crédito, débito y efectivo.</strong> También
                        aceptamos
                        mercado pago.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ¿Cómo se realizan las castraciones en perros y gatos?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Primero deberás realizar una <strong>consulta Pre-quirúrgica</strong> sin costo y por orden
                        de llegada
                        en la misma veterinaria. Se harán estudios, controles médicos y todo lo que sea necesario con cada
                        uno de sus precios.
                        Si el animal
                        está en condiciones, tendrá que pedirle un turno a su respectivo veterinario que le asignará
                        en el
                        horario de trabajo. El costo de la castración en perros dependerá de su peso, mientras que
                        en gatos si
                        es macho o hembra.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        ¿Se pueden comprar alimentos balanceados en la misma veterinaria?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Si se puede,</strong> el costo de los alimentos dependerá de la marca, del tipo de
                        alimento y
                        del contenido.
                    </div>
                </div>
            </div>
        </div>


        <div id="encuentranos" class="row scroll_section">
            <div class="col-md-3 py-5">
                <h2>Encuéntranos</h2>
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.5075920847626!2d-58.58355428255615!3d-34.61661099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb86a460b1771%3A0x40ce052c066545ce!2sVeterinaria%20Perdriel!5e0!3m2!1ses!2sar!4v1678736074259!5m2!1ses!2sar"
                        width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h6>Av. Perdriel 1395, Caseros, El Palomar, Pcia de Bs.As.</h6>
                </div>
            </div>
        </div>


        <div class="col-md-7 mt-4 mt-sm-2">
            <div id="contacto" class="col-md-7 midset-md-2 py-4 scroll_section">
                <h2>Contacto</h2>
                <form class="row g-3" action="/" method="post">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">E-Mail</label>
                        <input type="text" class="form-control" id="email" placeholder="email@email.com" name="email">
                    </div>
                    <div class="col-12">
                        <label for="tel" class="form-label">Tel</label>
                        <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
                    </div>
                    <div class="col-13">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="2" name="mensaje">
              </textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
            <h6>{{message}}</h6>
